
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
}

*, body {
    max-width: 100%;
    overflow-x: hidden;
}
  

/* Header */
header {
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  header.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  
  nav .logo img {
    max-width: 38%;
    height: auto;
  }

  @media only screen and (max-width: 767px) {
    nav .logo img {
        max-width: 60%;
        height: auto;
      }
  }
  

/* Hero Section */
.hero {
    height: 700px;
    background-image: url('assets/downtown-la-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.hero h2 {
    color: white;
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.hero p {
    color: white;
    font-size: 1rem;
    margin-bottom: 1.1rem;
    width: 40%;
    line-height: 2;
}
.hero .phone-button {
    display: inline-block;
    background-color: #E35224;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2rem 2.5rem;
    border: 4px solid #0C1518;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.hero .phone-button:hover {
    background-color: #FFC618;
    color: black;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 137, 204, 0.6);
    z-index: 1;
}

.hero * {
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 767px) {
   .hero {
        height: 550px;
   }
   .hero h1 {
        font-size: 2em;
   }
   .hero h2 {
    font-size: 1.2em;
    }
    .hero p {
        width: 70%;
    }
    .hero .phone-button {
        font-size: 1.3rem;
        padding: 25px 30px;
    }
}

/* Section 3 */
#services {
    background-color: white;
    padding: 5rem 10rem;
    z-index: 2;
}

#services .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}

#services h2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

#services p {
    font-size: 1.1rem;
    max-width: 800px;
    margin-bottom: 1.5rem;
    line-height: 2;
}

@media only screen and (max-width: 767px) {
    #services {
        padding: 2.5rem;
    }
    #services h2 {
        font-size: 3rem;
    }
}

/* cabs */
#cabs {
    width: 80%;
    margin: -200px 100px 10px 100px;
    z-index: 1;
    position: relative;
}

@media only screen and (max-width: 767px) {
    #cabs {
        width: 90%;
        margin: -100px 50px 10px 50px;
    }
}

/* Section 4 */
#why-us {
    padding: 5rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  
  .twentyfour-seven-container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .animated-text {
    font-size: 5rem;
    font-weight: bold;
    color: black;
    flex-basis: 25%;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .twentyfour-seven-text {
    flex-basis: 75%;
  }
  
  .twentyfour-seven-text p {
    font-size: 1.1rem;
    color: black;
    padding: 3rem;
    line-height: 2;
    text-align: center;
  }  

  @media only screen and (max-width: 767px) {
    #why-us {
        padding: 10px;
    }
    .twentyfour-seven-container {
        display: block;
    }
    .animated-text {
        text-align: center;
        font-size: 4rem;
    }
    .twentyfour-seven-text {
        padding: 1rem;
        width: 100%;
        flex-basis: 100%;
    }
}

/* Section 5 */
.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 50px;
    position: relative;
  }
  
  .item .left {
    width: 75%;
  }
  
  .item h3 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: black;
  }
  
  .item p {
    font-size: 1.1rem;
    line-height: 2;
    margin-bottom: 40px;
    color: #252120;
  }
  
  .item .checkmark {
    font-size: 4rem;
    color: #3783B4;
    opacity: 1;
    transition: all 0.5s ease;
    transform: translateX(20px);
    margin-top: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .item.visible .checkmark {
    opacity: 1;
    transform: translateX(0);
  }
  
  @media only screen and (max-width: 767px) {
    .section5 {
        padding: 15px;
        margin-top: 50px;
    }
    .item {
      flex-direction: column;
      align-items: center;
      text-align: center;
      
    }
  
    .item .left {
      width: 100%;
    }

    .item .checkmark {
        opacity: 0;
    }
  }

  

/* Section 6 */
#let-us-serve {
    background-image: url('assets/waiting-downtown-la-taxi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#let-us-serve::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 116, 179, 0.6);
    z-index: 1;
}

#let-us-serve * {
    position: relative;
    z-index: 2;
}

#let-us-serve h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
}

#let-us-serve .book-now-btn {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2rem 2.5rem;
    border: 4px solid #0C1518;
    border-radius: 50px;
    text-decoration: none;
    background:#E35224;
    color: white;
}

/* Section 7: Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

